:root { 
            --gold: #f3c623; 
            --orange: #eb8317; 
            --navy: #10375c; 
            --profit-green: #10b981;
            --loss-red: #ef4444;
            --bg-white:#f4f7fa;
        }
        body{
            background-color: #f4f7fa !important;
            ;
        }
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

header{
    width: 100%;
    height:40vh;
    position:relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px; 

}
video{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
}
.container{
    width: 100% !important;
    z-index: 1;
   color:#f4f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    
}

.container-fluid{
    display: flex;
    width: 100%;
    justify-content:center;
    gap: 1rem;
   
}

.container-fluid input , .container-fluid select {
    width: 150px !important;
    border: none;
    outline: none;
    background-color: rgba(244, 247, 250,0.5);
  
}

.container-fluid select:focus{
    cursor: pointer;
}
.container-fluid input{
     width: 250px !important;
}
.assets-form{
    color: #10375c;
    font-weight: bold;
}
.btn{
    color:white !important;
    font-weight: bold;
    background:linear-gradient(45deg, var(--gold), var(--orange)) !important ;
}
 .btn:hover {
            opacity: 0.9;
            color: white;
            box-shadow: 0 5px 15px rgba(235, 131, 23, 0.4);
        }


.assets-form {
    position: sticky;
    top: 20px;
    
}
.glass-card { 
    background: white; 
    border-radius: 20px; 
    border: none; 
    box-shadow: 0 5px 15px rgba(235, 131, 23, 0.4);
    transition: 0.3s;
}
   .glass-card:hover {
     transform: translateY(-5px);
     }


.row{
    margin-right: 0 !important;
    margin-left: 0 !important;
}


